<h1>Listing Categories</h1>

<div id="jstree_categories"></div>

<br />

<%= link_to 'Create', "#", class: 'btn btn-success', id: 'create_category' %>
<%= link_to 'Rename', "#", class: 'btn btn-warning', id: 'rename_category' %>
<%= link_to 'Delete', "#", class: 'btn btn-danger',  id: 'delete_category' %>
