<div class="container" ng-init="init()">
  <h1>ダッシュボード - Dashboard</h1>

  <div class="panel panel-success dashboard-list">
    <div class="panel-heading">
      <h4>すべての Todoリスト</h4>
    </div>

    <ul class="list-group" ng-show="lists == 0">
      <li class="list-group-item">
        リストはまだ作成されていません
      </li>
    </ul>

    <form id="new_list" ng-submit="createList(listName)">
      <div class="input-group">
        <input id="todoDescription" class="form-control input-lg" type="text" autofocus="autofocus" placeholder="リスト名" maxlength="255" ng-model="listName">
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg" type="submit">作成</button>
        </span>
      </div>
    </form>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="list in lists">
        <div class="todo-list-description">
          <a href="/todo_lists/{{ list.id }}">
            {{ list.name }}
          </a>
        </div>
        <div class="todo-list-buttons pull-right">
          <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="deleteList(list, $index)">
            <span class="glyphicon glyphicon-ban-circle"></span>
          </button>
        </div>
      </li>
    </ul>
  </div><!-- /.panel.panel-success.dashboard-list -->
</div>