<!-- app/views/templates/index.html.erb -->
<div class="container" ng-controller="TodoListCtrl" ng-init="init()">
  <h1>Todo リスト</h1>

  <div class="panel panel-success">

    <div class="panel-heading">
      <span>{{list.name}}</span>
    </div>

    <form id="new_task" ng-submit="addTask(taskDescription)">
      <div class="input-group">
        <input type="text" id="taskDescription" class="form-control input-lg" autofocus="autofocus" maxlength="255" ng-model="taskDescription">
        <button class="btn btn-success btn-lg" type="submit">追加</button>
      </div>
    </form>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="task in list.tasks" ng-class="{completed: task.completed}">
        <div class="task-completed">
          <input type="checkbox" ng-model="task.completed">
        </div>
        <div class="task-description">
          <span>{{task.description}}</span>
        </div>
        <div class="task-buttons pull-right">
          <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="deleteTask(task)">
            <span class="glyphicon glyphicon-ban-circle"></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
