<div class="container" ng-init="init()" ng-cloak>
  <h1>Todo リスト</h1>

  <div class="panel panel-default">
    <div class="panel-body">
      <form role="form" class="form-horizontal" ng-submit="search()">

        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description:</label>
          <div class="col-sm-8">
            <input type="text" ng-model="descriptionCont" id="description" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="completed" class="col-sm-2 control-label">Completed:</label>
          <div class="col-sm-8">
            <input type="checkbox" ng-model="completedTrue" id="completed">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="panel panel-success">

    <div class="panel-heading">
      <editablespan
        model="list.name"
        on-ready="listNameEdited(list.name)"></editablespan>
    </div>

    <form id="new_todo" ng-submit="addTodo(todoDescription)">
      <div class="input-group">
        <input type="text" id="todoDescription" class="form-control input-lg" autofocus="autofocus" maxlength="255" ng-model="todoDescription">
        <button class="btn btn-success btn-lg" type="submit">追加</button>
      </div>
    </form>

    <ul data-as-sortable="sortListeners"data-ng-model="list.todos" class="list-group">
      <li ng-repeat="todo in list.todos" ng-class="{completed: todo.completed}" data-as-sortable-item class="list-group-item">
        <div class="todo-completed">
          <input type="checkbox" ng-model="todo.completed" ng-click="toggleTodo(todo)">
        </div>
        <div class="todo-description" data-as-sortable-item-handle>
          <editablespan
            model="todo.description"
            on-ready="todoDescriptionEdited(todo)"></editablespan>
        </div>
        <div class="todo-buttons pull-right">
          <button class="btn btn-danger btn-xs pull-right" type="button" ng-click="deleteTodo(todo)">
            <span class="glyphicon glyphicon-ban-circle"></span>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <pagination total-items="totalTodos" ng-model="currentPage" ng-change="search()"></pagination>

  <br />

  <a href="dashboard" class="btn btn-default">戻る</a>
</div>
